<style>
    .footerimg{

        width: inherit;
        /* height: inherit; */
    }
</style>
<div >
    <img class = "footerimg" src="/images/image.png" alt="">
  </div>


<p class="text-center text-muted">&copy; Copyright 2024 Travling</p>